@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset + Base Layer */

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  background: #ffffff;
}

/* Image defaults */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

svg {
  vertical-align: middle;
}
